* {
    box-sizing: border-box;
}

h1 {
    color: red;
}

.grid-container {
    font-size: 0;
    display: flex;
    justify-content: center;
    align-self: center;

    /*
    border: 1px solid paleturquoise;
    width: 800px;
    height: 800px;*/
}

.row {
    /*margin: 0px;
    padding: 0px;*/
}

.buttons {
    background-color: #faedcd;
    font-size: 20px;
    padding: 8px;
}

.square {
    border: 1px solid blue;
    
    /*
    width: 30px;
    height: 30px;
    */

    margin: 0px;
    padding: 0px;
    
}